
.card {
    // width: 230px;
    padding: 5px;
    margin-bottom: 5px;
}

.temperature {
    font-size: xx-large;
    font-weight: bold;
}

.card__header {
    // display: flex;
}

.card__temp-line {
    display: flex;
    align-items: center;
}

.humidity, .visibility {
    margin-top: 10px;
}
.pressure {
    
}

.card__pressure-wind {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.gear {
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 10px;
}