
.card {
    // width: 230px;
    padding: 5px;
    margin-bottom: 5px;
}

.temperature {
    font-size: xx-large;
    font-weight: bold;
}

.card__header {
    font-weight: 300;
    font-size: x-large;
}

.card__temp-line {
    display: flex;
    align-items: center;
}

.humidity, .visibility {
    margin-top: 10px;
}

.city-input {
    margin-top: 20px;
}

.card__pressure-wind {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.gear {
    margin-bottom: 10px;
}

.right-icon {
    display: flex; 
    justify-content: flex-end;
}

.trash-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.send-button {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    margin-top: 10px;
}